@import url(https://fonts.googleapis.com/css?family=Judson:400,400italic,700);
.container, .breadcrumb ol, .view-top-banner .view-content .views-row, #main, #content-bottom {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

h1, h2, h3 {
  font-family: "Judson", georgia, serif;
  line-height: 1.2;
}

h1, h2, h3, h4 {
  color: #0c5379;
}

h1,
#content-bottom #block-views-team-block .block__title {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

.blue {
  color: #0082c8;
}

@media (min-width: 48em) {
  .two-thirds {
    width: 70%;
  }

  .one-third {
    width: 30%;
  }

  .left {
    float: left;
    padding-right: 24px;
  }

  .right {
    float: right;
    padding-left: 24px;
  }
}
img.left {
  padding-right: 0;
}

img.right {
  padding-left: 0;
}

.wys-callout p {
  color: #777;
  font-size: 0.9em;
  line-height: 2.6;
  font-style: italic;
}
@media (max-width: 47.9375em) {
  .wys-callout {
    background-color: #f6f5f3;
    padding: 24px;
  }
  .wys-callout p:first-child {
    margin-top: 0;
  }
  .wys-callout p:last-child {
    margin-bottom: 0;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e3541;
}
body #page {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #d4b66e;
}
a:hover {
  color: #c8a247;
}

img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 37.5em) {
  img.left {
    width: 30%;
    float: left;
    margin-right: 24px;
    margin-bottom: 12px;
  }
}
@media (max-width: 37.4375em) {
  img {
    margin-bottom: 12px;
  }
}

.breadcrumb {
  background-color: #0c5379;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
}
.breadcrumb ol {
  margin-top: 0;
  margin-bottom: 0;
}
.breadcrumb a {
  color: #fff;
  text-decoration: underline;
  margin-right: 8px;
}
.breadcrumb li {
  margin-right: 12px;
}
.breadcrumb li:last-child {
  font-weight: 700;
}

.view-top-banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@media (min-width: 48em) {
  .view-top-banner {
    height: 400px;
  }
  .view-top-banner img {
    display: none;
  }
  .view-top-banner .breadcrumb {
    background-color: transparent;
  }
  .view-top-banner .view-content {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .view-top-banner .view-content .views-row {
    background-color: rgba(12, 83, 121, 0.75);
  }
}
@media (max-width: 47.9375em) {
  .view-top-banner {
    height: auto;
  }
  .view-top-banner img {
    display: block;
  }
  .view-top-banner .breadcrumb {
    background-color: #0c5379;
  }
  .view-top-banner .breadcrumb ol {
    margin: 0;
  }
  .view-top-banner .views-field-field-page-headline {
    display: none;
  }
}
.view-top-banner .view-content {
  width: 100%;
}
.view-top-banner .view-content .views-row {
  max-width: 1024px;
  padding-left: 0;
  padding-right: 0;
}
.view-top-banner .view-content .views-row .breadcrumb {
  margin: 0;
  color: #fff;
  padding: 16px 24px;
}
.view-top-banner .view-content .views-row .breadcrumb ol {
  padding: 0;
}
.view-top-banner .view-content .views-row .breadcrumb a {
  color: #fff;
  text-decoration: underline;
  margin-right: 8px;
}
.view-top-banner .view-content .views-row .breadcrumb li {
  margin-right: 12px;
}
.view-top-banner .view-content .views-row .breadcrumb li:last-child {
  font-weight: 700;
}
.view-top-banner .view-content .views-row .views-field-field-page-headline {
  font-family: "Judson", georgia, serif;
  color: #fff;
  font-weight: 700;
  font-size: 2.6em;
  line-height: 1.2;
  padding: 36px 200px 36px 24px;
  border-top: 1px solid #628392;
}

#main:after {
  content: "";
  display: block;
  clear: both;
}
#main #content,
#main .sidebars {
  padding-top: 48px;
  padding-bottom: 60px;
}
#main .page__title {
  margin-top: 0;
}

footer {
  background-color: #1e3541;
  color: #9ea4a8;
  font-size: 0.9em;
  padding-top: 24px;
  padding-bottom: 24px;
}
footer h4 {
  color: #9ea4a8;
}
footer a {
  color: #d4b66e;
}
footer a:hover {
  color: #c8a247;
}
footer #block-block-4 {
  clear: left;
  border-top: 1px solid #4b5d67;
  padding-top: 24px;
}
@media (min-width: 48em) {
  footer #block-block-2 {
    width: 70%;
    float: left;
    padding-right: 24px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-bottom: 24px;
  }
  footer #block-block-3 {
    width: 30%;
    float: left;
    padding-left: 24px;
    padding-bottom: 24px;
  }
}
@media (max-width: 47.9375em) {
  footer #block-block-2,
  footer #block-block-3 {
    padding-bottom: 24px;
  }
  footer #block-block-2 h4,
  footer #block-block-3 h4 {
    margin-top: 0;
  }
}

#content-bottom .region-content-bottom {
  border-top: 1px solid #eee;
  padding-top: 60px;
  padding-bottom: 60px;
}
#content-bottom .region-content-bottom:after {
  content: "";
  display: block;
  clear: both;
}
#content-bottom #block-views-team-block .block__title {
  margin-top: 0;
}
#content-bottom #block-views-team-block .view-content {
  margin-left: -12px;
  margin-right: -12px;
}
#content-bottom #block-views-team-block .view-content:after {
  content: "";
  display: block;
  clear: both;
}
#content-bottom #block-views-team-block .views-row {
  padding: 12px;
  position: relative;
}
#content-bottom #block-views-team-block .views-row .views-field-field-team-image img {
  display: block;
}
#content-bottom #block-views-team-block .views-row .views-fieldset {
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  padding: 0 12px;
}
#content-bottom #block-views-team-block .views-row .views-fieldset .views-field-field-team-title,
#content-bottom #block-views-team-block .views-row .views-fieldset .views-field-title {
  background-color: rgba(12, 83, 121, 0.75);
  color: #fff;
  text-align: center;
}
#content-bottom #block-views-team-block .views-row .views-fieldset .views-field-title {
  font-family: "Judson", georgia, serif;
  font-size: 1.4em;
  padding: 12px 12px 0;
}
#content-bottom #block-views-team-block .views-row .views-fieldset .views-field-field-team-title {
  font-weight: 700;
  padding: 0 12px 12px;
}
@media (min-width: 48em) {
  #content-bottom #block-views-team-block {
    width: 70%;
    float: left;
    padding-right: 24px;
  }
  #content-bottom #block-webform-client-block-5 {
    width: 30%;
    float: right;
    padding-left: 24px;
    margin-top: 80px;
  }
}
@media (max-width: 47.9375em) {
  #content-bottom #block-webform-client-block-5 {
    margin-top: 12px;
  }
}
@media (min-width: 30em) {
  #content-bottom #block-views-team-block .views-row {
    width: 50%;
    float: left;
  }
}

.sidebars .block {
  margin-top: 48px;
}
.sidebars .block:first-child {
  margin-top: 0;
}
.sidebars .block-views .block__title {
  font-weight: 400;
  font-style: italic;
}
.sidebars .block-views .views-row {
  padding: 4px 0;
  margin: 0;
}
.sidebars .block-views .views-row a {
  font-weight: 700;
}

@media (min-width: 48em) {
  .sidebar-second #main {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .sidebar-second #content {
    width: 70%;
    float: left;
    padding-right: 24px;
  }
  .sidebar-second .sidebars {
    width: 30%;
    float: right;
    padding-left: 24px;
    border-left: 1px solid #eee;
  }
}
@media (max-width: 47.9375em) {
  .sidebar-second .sidebars {
    border-top: 1px solid #eee;
  }
}

#skip-link {
  position: absolute;
}

#header {
  padding-top: 12px;
  position: relative;
}
#header:after {
  content: "";
  display: block;
  clear: both;
}

#logo {
  display: block;
  float: left;
  max-width: 200px;
  padding-bottom: 6px;
}

#block-block-1 p,
#block-search-form p,
#block-system-main-menu p {
  margin: 0;
}

#block-block-1 {
  color: #b1b1b1;
  font-size: 0.9em;
  padding-top: 5px;
  padding-right: 16px;
}
#block-block-1 a {
  color: #b1b1b1;
}
#block-block-1 .fa {
  background-color: #b1b1b1;
  border-radius: 1px;
  width: 14px;
  height: 14px;
  display: inline-block;
  text-align: center;
}
#block-block-1 .fa:before {
  color: #fff;
  font-size: 12px;
}
#block-block-1 .name {
  display: none;
}

#block-search-form form {
  position: relative;
}
#block-search-form form input[type="text"] {
  padding: 8px;
  padding-right: 24px;
}
#block-search-form form .form-actions {
  position: absolute;
  top: 0;
  right: 0;
}
#block-search-form form .form-actions input {
  border: none;
  outline: none;
  background: url("../images/search.png") no-repeat center;
  background-size: 12px auto;
  width: 26px;
  text-indent: -9999px;
  padding: 15px 0;
}

#block-system-main-menu {
  clear: right;
}
#block-system-main-menu ul.menu {
  padding: 0;
  margin-top: 0;
}
#block-system-main-menu ul.menu li {
  font-family: "Judson", georgia, serif;
  font-style: italic;
  font-size: 1.4em;
  margin: 0;
  position: relative;
}
#block-system-main-menu ul.menu li ul {
  display: none;
}
@media (min-width: 48em) {
  #block-system-main-menu ul.menu li:hover {
    background-color: #f7f7f7;
  }
  #block-system-main-menu ul.menu li:hover ul {
    display: block;
    position: absolute;
    background-color: #f7f7f7;
    z-index: 50;
    left: 0;
    padding: 8px;
    min-width: 200px;
  }
  #block-system-main-menu ul.menu li:hover ul li {
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    font-style: normal;
    white-space: nowrap;
    font-weight: 700;
    display: block;
    padding: 0;
  }
  #block-system-main-menu ul.menu li:hover ul li a {
    display: block;
    padding: 8px;
  }
  #block-system-main-menu ul.menu li:hover ul li a:hover {
    background-color: #0082c8;
    color: #fff;
  }
}

.breadcrumb ol {
  padding: 0 12px;
}
.breadcrumb ol li {
  list-style-type: none;
  display: inline-block;
}

@media (min-width: 48em) {
  #toggle-nav {
    display: none;
  }

  #logo {
    width: 25%;
  }

  #navigation {
    width: 75%;
    float: right;
  }

  #block-block-1,
  #block-search-form,
  #block-system-main-menu {
    float: right;
  }

  #block-search-form form input[type="text"] {
    width: 130px;
  }
  #block-search-form form .form-actions input {
    height: 26px;
  }

  #block-system-main-menu ul.menu {
    margin-right: -16px;
    margin-bottom: 8px;
  }
  #block-system-main-menu ul.menu li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 16px;
  }
  #block-system-main-menu ul.menu li a {
    color: #0082c8;
  }
  #block-system-main-menu ul.menu li a:hover {
    color: #006195;
  }
}
@media (max-width: 47.9375em) {
  #toggle-nav {
    float: right;
    color: #0082c8;
    display: block;
    padding: 12px;
    border: 1px solid #eee;
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f3f3f3));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
    text-transform: uppercase;
    margin-top: 13px;
    border-radius: 4px;
  }
  #toggle-nav.active {
    background: none;
    background-color: #0082c8;
    color: #fff;
  }

  #navigation {
    transition: max-height 1s ease;
    -webkit-transition: max-height 1s ease;
    -moz-transition: max-height 1s ease;
    -o-transition: max-height 1s ease;
    max-height: 0;
    overflow: hidden;
    clear: both;
    background-color: #0082c8;
    margin-left: -12px;
    margin-right: -12px;
    z-index: 200;
  }

  .show-nav #navigation {
    max-height: 30em;
  }

  #block-search-form {
    padding: 12px;
  }
  #block-search-form form input[type="text"] {
    width: 100%;
  }
  #block-search-form form .form-actions input {
    height: 30px;
  }

  #block-block-1 {
    display: none;
  }

  #block-system-main-menu ul.menu {
    margin-bottom: 0;
  }
  #block-system-main-menu ul.menu li {
    border-top: 1px solid #00a3fb;
    padding: 0;
  }
  #block-system-main-menu ul.menu li a {
    color: #fff;
    padding: 12px;
    display: block;
  }
  #block-system-main-menu ul.menu li a:hover {
    background-color: #0c5379;
  }
}
#block-menu-block-1 .block__title {
  font-style: italic;
  font-weight: 400;
}
#block-menu-block-1 ul {
  padding: 0;
}
#block-menu-block-1 ul li {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 4px 0;
  font-weight: 700;
}
#block-menu-block-1 ul li a.active {
  color: #777;
}

.pager {
  padding: 0;
  text-align: center;
  color: #777;
  border-top: 1px solid #eee;
  padding-top: 24px;
  margin-top: 24px;
}
.pager li {
  list-style-type: none;
  display: inline-block;
  padding: 4px;
}
.pager li a {
  font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  border-radius: 4px;
  border: 1px solid #e8e9e9;
  padding: 12px;
  max-width: 100%;
  font-family: arial, helvetica, sans-serif;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  border: 1px solid #0082c8;
}

a.button,
input[type="submit"] {
  background: #e9c97e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e9c97e 0%, #c7a656 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e9c97e), color-stop(100%, #c7a656));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e9c97e 0%, #c7a656 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e9c97e 0%, #c7a656 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e9c97e 0%, #c7a656 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e9c97e 0%, #c7a656 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 12px 24px;
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  cursor: pointer;
  display: inline-block;
}
a.button:hover,
input[type="submit"]:hover {
  background: #e5c068;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e5c068 0%, #c19c43 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5c068), color-stop(100%, #c19c43));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e5c068 0%, #c19c43 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e5c068 0%, #c19c43 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e5c068 0%, #c19c43 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e5c068 0%, #c19c43 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}

.sidebars #block-webform-client-block-5,
#content-bottom #block-webform-client-block-5 {
  background-color: #0c5379;
  color: #fff;
  padding: 24px;
}
.sidebars #block-webform-client-block-5 h2,
#content-bottom #block-webform-client-block-5 h2 {
  color: #fff;
  margin-top: 0;
  font-size: 1.2em;
  font-style: italic;
}
.sidebars #block-webform-client-block-5 .form-item,
#content-bottom #block-webform-client-block-5 .form-item {
  margin-bottom: 12px;
}
.sidebars #block-webform-client-block-5 .form-item label,
#content-bottom #block-webform-client-block-5 .form-item label {
  display: none;
}
.sidebars #block-webform-client-block-5 input,
#content-bottom #block-webform-client-block-5 input {
  width: 100%;
}
.sidebars #block-webform-client-block-5 textarea,
#content-bottom #block-webform-client-block-5 textarea {
  height: 84px;
}

#content:after {
  content: "";
  display: block;
  clear: both;
}
#content #block-webform-client-block-5 .block__title {
  display: none;
}
#content #block-webform-client-block-5 .form-item {
  margin-bottom: 12px;
}
#content #block-webform-client-block-5 .form-item label {
  display: none;
}
#content #block-webform-client-block-5 .form-item input[type="text"],
#content #block-webform-client-block-5 .form-item input[type="email"],
#content #block-webform-client-block-5 .form-item input[type="password"],
#content #block-webform-client-block-5 .form-item textarea {
  background: #f3f3f3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f3f3f3 0%, #fff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, #fff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3f3f3 0%, #fff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3f3f3 0%, #fff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3f3f3 0%, #fff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f3f3f3 0%, #fff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  width: 100%;
}
#content #block-block-5 {
  font-family: "Judson", georgia, serif;
  color: #0c5379;
}
#content #block-block-5 .fa,
#content #block-block-5 .title {
  display: inline-block;
}
#content #block-block-5 p {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#content #block-block-5 p .fa {
  margin-right: 8px;
  padding-top: 3px;
  width: 16px;
}
#content #block-block-5 p:first-child,
#content #block-block-5 .contextual-links-wrapper + p {
  margin-top: 0;
}
@media (min-width: 48em) {
  #content #block-webform-client-block-5 {
    width: 70%;
    float: left;
    padding-right: 24px;
  }
  #content #block-block-5 {
    width: 30%;
    float: right;
    padding-left: 24px;
  }
}
@media (max-width: 47.9375em) {
  #content #block-block-5 {
    margin-bottom: 36px;
  }
}

/* Select Elements */
.form-type-select,
.webform-component-select {
  position: relative;
  min-width: 150px;
}
.form-type-select:before,
.webform-component-select:before {
  background: url("../images/select-arrow.png") no-repeat center;
  background-size: 12px auto;
  content: "";
  display: block;
  width: 40px;
  height: 39px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
}
.form-type-select:after,
.webform-component-select:after {
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #f3f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #f3f3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #f3f3f3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #f3f3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
  content: "";
  background-color: #fff;
  border: 1px solid #e8e9e9;
  border-radius: 4px;
  display: block;
  width: 100%;
  height: 39px;
  z-index: 1;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.form-type-select label,
.webform-component-select label {
  display: none;
}
.form-type-select select,
.webform-component-select select {
  position: absolute;
  bottom: 0;
  -webkit-appearance: none;
  -moz-appearance: window;
  -o-appearance: none;
  border: none;
  outline: none;
  background: transparent;
  padding: 11px 50px 13px 12px;
  border-radius: 0;
  z-index: 25;
  width: 100%;
  border-radius: 3px;
  color: #aaa;
}
.form-type-select select:focus,
.webform-component-select select:focus {
  border: 1px solid #0082c8;
}
.form-type-select select::-ms-expand,
.webform-component-select select::-ms-expand {
  display: none;
}

.webform-component--url {
  display: none;
}

.webform-confirmation {
  padding: 12px;
  background-color: #e5f1dc;
  font-style: italic;
  margin-bottom: 24px;
}
.webform-confirmation p {
  margin: 0;
}

/* Login */
#user-login label {
  display: block;
}
#user-login .form-required {
  color: red;
}
#user-login .description {
  color: #777;
  font-size: 0.9em;
}
#user-login .form-item {
  margin-bottom: 12px;
}

/* Search Page Form */
#search-form label {
  display: none;
}
#search-form input[type="submit"] {
  padding: 10px 24px;
  position: relative;
  top: 1px;
}

#block-views-homepage-slides-block .views-row {
  position: relative;
}
#block-views-homepage-slides-block .views-row img {
  display: block;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset {
  position: static;
  color: #fff;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-fieldset {
  margin-right: 0;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-field-field-slide-headline {
  font-family: "Judson", georgia, serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 24px;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-field-field-slide-body {
  margin-bottom: 24px;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-field-field-slide-button {
  margin-bottom: 12px;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-field-field-slide-button a {
  width: 100%;
  text-align: center;
  padding: 16px;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-field-field-slide-link {
  text-align: center;
}
#block-views-homepage-slides-block .views-row .views-fieldset .views-fieldset .views-field-field-slide-link a {
  color: #aad1d5;
  text-decoration: underline;
}
@media (min-width: 60em) {
  #block-views-homepage-slides-block .views-field-field-slide-headline {
    font-size: 2.8em;
  }
  #block-views-homepage-slides-block .views-field-field-slide-body {
    font-size: 1.2em;
    line-height: 1.6;
  }
  #block-views-homepage-slides-block .views-field-field-slide-button a {
    font-size: 1.2em;
  }
}
@media (max-width: 59.9375em) {
  #block-views-homepage-slides-block .views-field-field-slide-headline {
    font-size: 1.8em;
  }
}
@media (min-width: 48em) {
  #block-views-homepage-slides-block .views-fieldset {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #block-views-homepage-slides-block .views-fieldset .views-fieldset {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  #block-views-homepage-slides-block .views-fieldset .views-fieldset .views-fieldset {
    background-color: rgba(12, 83, 121, 0.75);
    width: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    webkit-flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 48px 36px;
  }
}
@media (max-width: 47.9375em) {
  #block-views-homepage-slides-block {
    background-color: #0c5379;
  }
  #block-views-homepage-slides-block .views-fieldset .views-fieldset .views-fieldset {
    background-color: #0c5379;
    padding: 24px;
  }
}

#block-views-services-block .view-header {
  max-width: 730px;
}
#block-views-services-block .view-content:after {
  content: "";
  display: block;
  clear: both;
}
#block-views-services-block .view-content .views-row {
  position: relative;
}
#block-views-services-block .view-content .views-row img {
  display: block;
}
#block-views-services-block .view-content .views-row .views-field-title {
  width: 100%;
  font-weight: 700;
  font-family: "Judson", georgia, serif;
  font-size: 1.2em;
}
#block-views-services-block .view-content .views-row .views-fieldset {
  padding: 16px;
}
#block-views-services-block .view-content .views-row .views-fieldset .views-field-nothing {
  margin-top: 16px;
}
#block-views-services-block .view-content .views-row .views-fieldset .views-field-nothing a {
  width: 100%;
  text-align: center;
}
@media (min-width: 51.875em) {
  #block-views-services-block .views-row {
    width: 25%;
    float: left;
  }
  #block-views-services-block .views-row:nth-child(4n+1) .views-field-title {
    background-color: rgba(0, 130, 200, 0.75);
  }
  #block-views-services-block .views-row:nth-child(4n+1) .views-field-nothing .button {
    background: #1095dd;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1095dd 0%, #0273b0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1095dd), color-stop(100%, #0273b0));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1095dd 0%, #0273b0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1095dd 0%, #0273b0 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1095dd 0%, #0273b0 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1095dd 0%, #0273b0 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
  }
  #block-views-services-block .views-row:nth-child(4n+1) .views-field-nothing .button:hover {
    background: #0e85c5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0e85c5 0%, #026397 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0e85c5), color-stop(100%, #026397));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0e85c5 0%, #026397 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0e85c5 0%, #026397 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0e85c5 0%, #026397 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0e85c5 0%, #026397 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
  }
  #block-views-services-block .views-row:nth-child(4n+2) .views-field-title {
    background-color: rgba(212, 182, 110, 0.75);
  }
  #block-views-services-block .views-row:nth-child(4n+3) .views-field-title {
    background-color: rgba(88, 110, 73, 0.75);
  }
  #block-views-services-block .views-row:nth-child(4n+3) .views-field-nothing .button {
    background: #648151;
    /* Old browsers */
    background: -moz-linear-gradient(top, #648151 0%, #4f6044 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #648151), color-stop(100%, #4f6044));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #648151 0%, #4f6044 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #648151 0%, #4f6044 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #648151 0%, #4f6044 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #648151 0%, #4f6044 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
  }
  #block-views-services-block .views-row:nth-child(4n+3) .views-field-nothing .button:hover {
    background: #587147;
    /* Old browsers */
    background: -moz-linear-gradient(top, #587147 0%, #435139 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #587147), color-stop(100%, #435139));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #587147 0%, #435139 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #587147 0%, #435139 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #587147 0%, #435139 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #587147 0%, #435139 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
  }
  #block-views-services-block .views-row:nth-child(4n+4) .views-field-title {
    background-color: rgba(12, 83, 121, 0.75);
  }
  #block-views-services-block .views-row:nth-child(4n+4) .views-field-nothing .button {
    background: #1f6f99;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1f6f99 0%, #095278 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f6f99), color-stop(100%, #095278));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1f6f99 0%, #095278 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1f6f99 0%, #095278 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1f6f99 0%, #095278 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1f6f99 0%, #095278 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
  }
  #block-views-services-block .views-row:nth-child(4n+4) .views-field-nothing .button:hover {
    background: #1b6084;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1b6084 0%, #074260 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1b6084), color-stop(100%, #074260));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1b6084 0%, #074260 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #1b6084 0%, #074260 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #1b6084 0%, #074260 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #1b6084 0%, #074260 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
    /* IE6-9 */
  }
  #block-views-services-block .views-row .views-field-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 16px 8px;
  }
  #block-views-services-block .views-row .views-field-title a {
    color: #fff;
  }
}
@media (max-width: 51.8125em) {
  #block-views-services-block .views-row:after {
    content: "";
    display: block;
    clear: both;
  }
  #block-views-services-block .views-row .views-field-title {
    margin-bottom: 12px;
    font-size: 26px !important;
  }
  #block-views-services-block .views-row .views-field-title a {
    color: #0c5379;
  }
}
@media (max-width: 51.8125em) and (min-width: 37.5em) {
  #block-views-services-block .views-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  #block-views-services-block .views-row .views-field-field-service-thumb {
    width: 33.33%;
    float: left;
  }
  #block-views-services-block .views-row .views-fieldset {
    width: 66.67%;
    float: right;
  }
}
@media (min-width: 37.5em) {
  #block-views-services-block .views-row:nth-child(odd) .views-fieldset {
    background-color: #f6f5f3;
  }
  #block-views-services-block .views-row:nth-child(even) .views-fieldset {
    background-color: #fafaf9;
  }
}
@media (max-width: 37.4375em) {
  #block-views-services-block .views-row {
    margin-bottom: 12px;
  }
  #block-views-services-block .views-row .views-fieldset {
    background-color: #f6f5f3 !important;
  }
  #block-views-services-block .views-field-field-service-thumb {
    height: 250px;
    overflow: hidden;
  }
  #block-views-services-block .views-field-field-service-thumb img {
    min-width: 100%;
  }
}

/* About Us */
.node-25:after {
  content: "";
  display: block;
  clear: both;
}
.node-25 .node__title,
.node-25 .node-readmore {
  display: none;
}
.node-25 h1 {
  margin-top: 0;
}
@media (min-width: 48em) {
  .node-25 {
    width: 70%;
    float: left;
    padding-right: 48px;
  }
}
@media (max-width: 47.9375em) {
  .node-25 {
    margin-bottom: 36px;
  }
}

.front #content-bottom #block-webform-client-block-5 {
  margin-top: 0;
}

.feed-icon {
  display: none;
}

/* Sliders */
.owl-item {
  float: left;
}
@media (max-width: 47.9375em) {
  .owl-item {
    background-color: #0c5379;
  }
}

.owl-wrapper-outer {
  overflow: hidden;
}

.owl-wrapper:after {
  content: "";
  display: block;
  clear: both;
}

@media (min-width: 48em) {
  .owl-controls {
    position: relative;
    top: -40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .owl-controls .owl-pagination {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
  }
}
@media (max-width: 47.9375em) {
  .owl-controls .owl-pagination {
    background-color: #0c5379;
    padding-bottom: 12px;
  }
}
.owl-controls .owl-pagination {
  text-align: center;
}
.owl-controls .owl-pagination .owl-page {
  display: inline-block;
  margin: 2px;
}
.owl-controls .owl-pagination .owl-page span {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.4;
  display: block;
  border-radius: 6px;
  cursor: pointer;
}
.owl-controls .owl-pagination .owl-page.active span {
  background-color: #d4b66e;
  opacity: 1;
}

#block-views-all-article-tags-block .view-content .views-row a {
  font-weight: 700;
}

@media (min-width: 64em) {
  #content #block-views-all-article-tags-block,
  #content #block-views-calculators-block {
    width: 50%;
    float: left;
  }
}
#content #block-views-all-article-tags-block .view-content:after,
#content #block-views-calculators-block .view-content:after {
  content: "";
  display: block;
  clear: both;
}
#content #block-views-all-article-tags-block .view-content .views-row,
#content #block-views-calculators-block .view-content .views-row {
  padding: 4px 0;
}
@media (min-width: 30em) {
  #content #block-views-all-article-tags-block .view-content .views-row,
  #content #block-views-calculators-block .view-content .views-row {
    width: 50%;
    float: left;
  }
}
#content #block-views-all-article-tags-block .view-content .views-row a,
#content #block-views-calculators-block .view-content .views-row a {
  font-weight: 700;
}
#content #block-views-all-article-tags-block .view-footer,
#content #block-views-calculators-block .view-footer {
  margin-top: 24px;
}
@media (min-width: 64em) {
  #content #block-views-all-article-tags-block {
    padding-right: 24px;
  }
  #content #block-views-calculators-block {
    padding-left: 24px;
  }
}

.sidebars #block-views-all-article-tags-block .view-footer {
  display: none;
}

/* Articles */
.node-article.node-teaser {
  margin-bottom: 24px;
}
.node-article.node-teaser .node__title {
  margin-bottom: 4px;
}
.node-article.node-teaser .submitted {
  margin-top: 0;
  color: #777;
  font-size: 0.9em;
  margin-bottom: 12px;
}

.node-article.view-mode-full .submitted {
  margin-top: -12px;
  color: #777;
  font-size: 0.9em;
  margin-bottom: 24px;
}
@media (min-width: 37.5em) {
  .node-article.view-mode-full .field-name-field-image {
    width: 25%;
    float: left;
    margin-right: 12px;
    margin-bottom: 12px;
  }
}

/* Calculators */
.view-calculators.view-display-id-page_1 h2 {
  margin-bottom: 12px;
}
.view-calculators.view-display-id-page_1 .views-row {
  margin-bottom: 24px;
}

/* Our Services */
#block-views-services-block-1 {
  margin-top: 24px;
}
#block-views-services-block-1 img {
  display: block;
}
#block-views-services-block-1 .views-field-title a {
  color: #0c5379;
}
@media (min-width: 37.5em) {
  #block-views-services-block-1 .views-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  #block-views-services-block-1 .views-row .views-field-field-service-thumb {
    width: 33.33%;
    float: left;
    padding-right: 12px;
  }
  #block-views-services-block-1 .views-row .views-fieldset {
    width: 66.67%;
    float: right;
    padding-left: 12px;
    padding-bottom: 24px;
    padding-right: 12px;
  }
  #block-views-services-block-1 .views-row:nth-child(odd) {
    background-color: #f6f5f3;
  }
  #block-views-services-block-1 .views-row:nth-child(even) {
    background-color: #fafaf9;
  }
}
@media (max-width: 37.4375em) {
  #block-views-services-block-1 .views-row {
    margin-bottom: 12px;
    background-color: #f6f5f3;
  }
  #block-views-services-block-1 .views-field-field-service-thumb {
    height: 250px;
    overflow: hidden;
  }
  #block-views-services-block-1 .views-field-field-service-thumb img {
    min-width: 100%;
  }
  #block-views-services-block-1 .views-fieldset {
    padding: 24px;
  }
  #block-views-services-block-1 .views-fieldset h2 {
    margin-top: 0;
  }
}

/* Search Results */
#search-form {
  border-bottom: 1px solid #eee;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.search-results {
  padding: 0;
}
.search-results .search-result {
  margin-bottom: 24px;
}
.search-results .search-result h2 {
  margin-bottom: 12px;
}
.search-results .search-result .search-snippet-info {
  padding: 0;
}

/* 404 */
.page-node-26 .page__title {
  display: none;
}
.page-node-26 .node-26 {
  text-align: center;
}
.page-node-26 #block-search-form--2 form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
.page-node-26 #block-search-form--2 form input[type="text"] {
  width: 68%;
}
.page-node-26 #block-search-form--2 form input[type="submit"] {
  width: 30%;
  padding: 10px 24px;
  position: relative;
  top: 1px;
}
