html, body {
	margin:0;
	padding:0;
}

body {
	background-color:#1e3541;
	#page {
		background-color:#fff;
	}
}

* {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

a {
	text-decoration:none;
	color:$gold;
	border:none;
	outline:none;
	&:hover {
		color:darken($gold, 10%);
	}
	& > img {
		border:none;
		outline:none;
	}
}

img {
	max-width:100%;
	height:auto;
	@include breakpoint($tablet-small-min) {
		&.left {
			width:30%;
			float:left;
			margin-right:$horiz-gutter;
			margin-bottom:$horiz-gutter/2;
		}
	}
	@include breakpoint($tablet-small-max) {
		margin-bottom:$horiz-gutter/2;
	}
}

.container {
	@extend %container;
}