#block-views-all-article-tags-block {
	.view-content {
		.views-row {
			a {
				font-weight:700;
			}
		}
	}
}

#content {
	#block-views-all-article-tags-block,
	#block-views-calculators-block {
		@include breakpoint($tablet-landscape-min) {
			width:50%;
			float:left;
		}
		.view-content {
			@include clearfix;
			.views-row {
				@include breakpoint($phone-min) {
					width:50%;
					float:left;
				}
				padding:$horiz-gutter/6 0;
				a {
					font-weight:700;
				}
			}
		}
		.view-footer {
			margin-top:$horiz-gutter;
		}
	}
	@include breakpoint($tablet-landscape-min) {
		#block-views-all-article-tags-block {
			padding-right:$horiz-gutter;
		}
		#block-views-calculators-block {
			padding-left:$horiz-gutter;
		}
	}
	@include breakpoint($tablet-landscape-max) {
		#block-views-all-article-tags-block {
			margin-bottom:$horiz-gutter*2;
		}
	}
}

.sidebars {
	#block-views-all-article-tags-block {
		.view-footer {
			display:none;
		}
	}
}


/* Articles */

.node-article.node-teaser {
	margin-bottom:$horiz-gutter;
	.node__title {
		margin-bottom:$horiz-gutter/6;
	}
	.submitted {
		margin-top:0;
		color:#777;
		font-size:0.9em;
		margin-bottom:$horiz-gutter/2;
	}
}

.node-article.view-mode-full {
	.submitted {
		margin-top:-$horiz-gutter/2;
		color:#777;
		font-size:0.9em;
		margin-bottom:$horiz-gutter;
	}
	.article-image {
		position:relative;
		.field-name-field-image {
			img {
				width:100%;
				height:auto;
			}
		}
		.field-name-field-image-source {
			@include transition(opacity,0.3s,ease);
			position:absolute;
			top:10px;
			right:10px;
			color:#fff;
			font-size:0.9em;
			text-shadow:1px 1px 1px rgba(0,0,0,0.75);
			opacity:0.8;
		}
		&:hover {
			.field-name-field-image-source {
				opacity:1;
			}
		}
	}
	.field-name-field-article-intro {
		font-family:$judson;
		font-size:1.2em;
		text-align:center;
		border-top:1px solid #eee;
		border-bottom:1px solid #eee;
		padding:$horiz-gutter/2 0;
		margin:$vert-gutter 0 $vert-gutter*1.5;
	}
	.field-name-field-article-disclaimers {
		color:#aaa;
		font-size:0.9em;
		font-style:italic;
		border-top:1px solid #eee;
		padding-top:$horiz-gutter/2;
		margin:$vert-gutter*1.5 0;
	}
	.field-name-field-article-citations {
		font-size:0.9em;
		color:#aaa;
	}
}


/* Calculators */

.view-calculators.view-display-id-page_1 {
	h2 {
		margin-bottom:$horiz-gutter/2;
	}
	.views-row {
		margin-bottom:$horiz-gutter;
	}
}


/* Our Services */

#block-views-services-block-1 {
	margin-top:$vert-gutter;
	img {
		display:block;
	}
	.views-field-title {
		a {
			color:$navy;
		}
	}
	@include breakpoint($tablet-small-min) {
		.views-row {
			@include flexbox;
			@include clearfix;
			.views-field-field-service-thumb {
				width:33.33%;
				float:left;
				padding-right:$horiz-gutter/2;
			}
			.views-fieldset {
				width:66.67%;
				float:right;
				padding-left:$horiz-gutter/2;
				padding-bottom:$horiz-gutter;
				padding-right:$horiz-gutter/2;
			}
			&:nth-child(odd) {
				background-color:#f6f5f3;
			}
			&:nth-child(even) {
				background-color:#fafaf9;
			}
		}
	}
	@include breakpoint($tablet-small-max) {
		.views-row {
			margin-bottom:$horiz-gutter/2;
			background-color:#f6f5f3;
		}
		.views-field-field-service-thumb {
			height:250px;
			overflow:hidden;
			img {
				min-width:100%;
			}
		}
		.views-fieldset {
			padding:$horiz-gutter;
			h2 {
				margin-top:0;
			}
		}
	}
}



/* Search Results */

#content {
	#search-form {
		position:relative;
		max-width:400px;
		.form-text {
			padding-right:24px;
			width:100%;
		}
		.form-submit {
			position:absolute;
			top:0;
			right:0;
			border:none;
			outline:none;
			background:url('../images/search.png') no-repeat center;
			filter:none !important;
			background-size:12px auto;
			width:36px;
			text-indent:-9999px;
			padding:11px 0;
		}
	}
}

#search-form {
	border-bottom:1px solid #eee;
	padding-bottom:$vert-gutter;
	margin-bottom:$vert-gutter;
}

.search-results {
	padding:0;
	.search-result {
		margin-bottom:$horiz-gutter;
		h2 {
			margin-bottom:$horiz-gutter/2;
		}
		.search-snippet-info {
			padding:0;
		}
	}
}



/* 404 */

.page-node-26 {
	.page__title {
		display:none;
	}
	.node-26 {
		text-align:center;
	}
	#block-search-form--2 {
		form {
			width:100%;
			max-width:400px;
			margin:0 auto;
			input[type="text"] {
				width:68%;
			}
			input[type="submit"] {
				width:30%;
				padding:10px 24px;
				position:relative;
				top:1px;
			}
		}
	}
}



/* Team Members */

.node-type-team-member {
	@include breakpoint($tablet-portrait-min) {
		.field-name-field-team-image {
			width:33%;
			float:left;
			padding-right:$horiz-gutter/2;
		}
		.team-contact-info {
			width:67%;
			float:left;
			padding-left:$horiz-gutter/2;
			padding-top:$horiz-gutter/3;
		}
	}
	.field-name-field-team-image {
		margin-bottom:$horiz-gutter;
		img {
			display:block;
		}
	}
	.team-contact-info {
		margin-bottom:$horiz-gutter;
	}
	.linkedin-connect {
		clear:left;
		display:block;
		a {
			background-color:$blue;
			color:#fff;
			display:inline-block;
			&:hover {
				background-color:darken($blue,5%);
			}
			.fa,
			.connect-text {
				padding:10px;
			}
			.connect-text {
				border-left:1px solid rgba(255,255,255,0.2);
			}
		}
	}
	.field-name-field-team-bio {
		clear:left;
		p:first-child {
			margin-top:0;
		}
	}
	.page__title {
		margin-bottom:0;
	}
	.field-name-field-team-title {
		margin-bottom:$horiz-gutter;
		font-family:$judson;
		font-style:italic;
		color:#777;
	}
}


/* Contact Page */

.body-link {
	font-family:$body-font;
	font-size:14px;
	font-style:italic;
}

.judson-link {
	color:$navy;
}